* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: inherit;
}

body {
	padding: 1rem;
	font-family: "FOT-筑紫明朝 Pr6N RB", serif;
	line-height: 1.5;
	color: #392f2d;
	background: #f3f3f3;
}

@media (min-width: 25rem) {
	body {
		padding: 2rem;
	}
}

a {
	color: rgb(139, 123, 51);
	text-decoration: none;
}

a:hover,
a:focus-visible {
	text-decoration: underline;
}
